{% extends 'base.html.twig' %}

{% block title %}{{ ' | ' ~ 'title.workout_add'|trans }}{% endblock %}

{% block active_workout 'navigation__link--active' %}

{% block content %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <header class="subpage-header">
        <h2 class="subpage-header__title subpage-header__title--small">{{ 'title.workouts'|trans }}</h2>
        <h3 class="subpage-header__title">{{ 'title.workout_add'|trans}}</h3>
    </header>

    <hr class="hr--dark">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {{ form_start(form, { method: 'post', action: url('workout_add') }) }}
                {{ form_widget(form.due_date) }}
                <fieldset>
                    <legend>{{ 'label.exercises'|trans }}</legend>
                    <ul class="exercises" data-prototype="{{ form_widget(form.exercises.vars.prototype)|e('html_attr') }}">
                        {% for exercise in form.exercises %}
                            <li>{{ form_widget(exercise) }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            {{ form_end(form) }}

            <a href="{{ url('workout_index') }}" class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span> {{ 'label.cancel'|trans}}
            </a>
        </div>
    </div>
{% endblock content%}