{% extends 'base.html.twig' %}

{% block title %}{{ ' | ' ~ 'title.workout_invite'|trans }}{% endblock %}

{% block active_workout 'navigation__link--active' %}

{% block content %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <header class="subpage-header">
        <h2 class="subpage-header__title subpage-header__title--small">{{ 'title.workouts'|trans }}</h2>
        <h3 class="subpage-header__title">{{ 'title.workout_invite'|trans}}</h3>
    </header>

    <hr class="hr--dark">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {{ form_start(form, { method: 'post', action: url('workout_invite', {'id': workout_id}) }) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            <a href="{{ url('workout_view', {'id' : workout_id}) }}" class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span> {{ 'label.cancel'|trans}}
            </a>
        </div>
    </div>
{% endblock content%}