{% extends 'base.html.twig' %}

{% block title %}{{ ' | ' ~ 'title.day_delete'|trans }}{% endblock %}

{% block content %}
    <header class="subpage-header">
        <h2 class="subpage-header__title subpage-header__title--small">{{ 'title.routines'|trans}}</h2>
        <h3 class="subpage-header__title">{{ 'title.day_delete'|trans }}</h3>
    </header>

    <hr class="hr--dark">

    <p class="text-warning"><b>{{ 'warning.day_delete'|trans }}</b></p>
    {{ form_start(form, { method: 'post', action: url('day_delete', {'slug' : day.workout_routine_id, 'id': day.workout_day_id}) }) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-success">
    {{ form_end(form) }}
    <a href="{{ url('routine_edit', {'id' : day.workout_routine_id}) }}" class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove"></span> {{ 'label.cancel'|trans}}
    </a>
{% endblock %}