{% extends 'admin/base.html.twig' %}

{% block title %}{{ ' | ' ~ 'title.change_password'|trans }}{% endblock %}

{% block content %}
    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    <header class="subpage-header">
        <h2 class="subpage-header__title">{{ 'title.change_password'|trans }}</h2>
    </header>

    <hr class="hr--dark">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {{ form_start(form, { method: 'post', action: url('admin_user_change_password', {'id': user_id}) }) }}
                {{ form_row(form.plainPassword.first, {'label': 'label.password'}) }}
                {{ form_row(form.plainPassword.second, {'label': 'label.repeat_password'}) }}
            {{ form_end(form) }}
            <div class="clearfix">
                <a href="{{ url('admin_user_index') }}" class="btn btn-warning pull-right">
                    {{ 'label.cancel'|trans}}
                </a>
            </div>
        </div>
    </div>
{% endblock content %}